
.date-picker .day-cell:hover, .day-cell:focused {
    -fx-background-color: #262626;
    -fx-text-fill:white;
}

.date-picker > .text-field,.date-picker >.text-field:focused{
    -fx-background-radius: 10px 0px 0px 10px;
    -fx-faint-focus-color: #D9D9D9;
}
.date-picker .arrow-button{
    -fx-background-radius: 0px 10px 10px 0px;
    -fx-faint-focus-color: #e2e2e2;
}

.date-picker:editable > .arrow-button > * {
    -fx-opacity: 0;
}
.date-picker > .arrow-button {
    -fx-background-image: url("./icons/calendar.png");
    -fx-background-size: 60% 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-opacity: 0.65;
}

.data_field{
    -fx-font-size: 15px;
    -fx-background-radius: 10px;
    -fx-pref-height: 40px;
    -fx-background-color: #D9D9D9;
    -fx-padding: 0px 10px 0px 10px;
    -fx-control-inner-background: #D9D9D9;
}

.submit_button {
     -fx-padding: 0px;
     -fx-background-color: #ADD5B1;
     -fx-pref-width: 50px;
}
.combo-box .arrow {
    -fx-font-size: 30px;
}

.left_menu_button_item{
    -fx-padding: 10px 40px 10px 40px;
    -fx-background-color: rgba(255, 0, 0, 0);
}

.combo-box .list-cell:hover , .combo-box  .list-cell:focused {
    -fx-background-color: #262626;
    -fx-text-fill:white;
}
.combo-box .list-cell:selected {
    -fx-background-color: #D9D9D9;
    -fx-text-fill:black;
}
.combo-box {
    -fx-padding: 0px 12px 0px 0px;
}
#Budget .arrow-button, #TagName .arrow-button {
    -fx-padding: 0px;
}
.combo-box .list-cell{
    -fx-background-radius: 10px 0px 0px 10px;
    -fx-padding: 0px 0px 0px 10px;
}
.combo-box .list-view .list-cell{
    -fx-background-radius: 0px;
    -fx-padding: 5px 10px 5px 10px;
}
.combo-box .list-view .list-cell:selected{
    -fx-background-color: #262626;
    -fx-text-fill:white;
}

#listOfTags {
    -fx-padding:25px;
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 0px 0px 10px 10px;
}
#listOfTags .list-cell{
    -fx-background-color: #D9D9D9;
    -fx-margin: 0px 0px 10px 0px
}
#listOfTags:focused{
    -fx-background-insets: 0;
}
#listOfTags .text{
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

#listOfTags .list-cell:hover,#listOfTags .list-cell:selected{
    -fx-text-fill:white;
}